*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    /* 'Spoqa Han Sans Neo','OneStoreMobileGothicTitleFont'; */
    /* letter-spacing: -0.02em !important; */
}
menu, ol, ul {
    list-style: none;
}
body {
    line-height: 1.3;
    color: #333;
    font-family: 'Noto Sans KR', 'sans-serif','Spoqa Han Sans Neo';
    font-size: 15px;
    word-break: keep-all;
}
a {
    color: #333;
    text-decoration: none;
}
.container {
    /* position: relative; */
    max-width: 1280px;
    margin: 0 auto;
}

button{
    border: 0 none;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
}

.header{
    width: 100%;
    height: 169px;
    background: #eef0ff;
}
.header .header_box{
    width: 100%;
    height: 89px;
    background: #afb8ff;
    padding: 20px 0;
}
.header .header_box .container{
    max-width: 1280px;
    height: 48px;
    margin: 0 auto;
    background: #94a1ff;
}
.header .header_box .container .inner{
    display: flex;
    justify-content: space-between;
}
.header .header_box  .inner .header_logo{

}
.header .header_box  .inner .header_logo a img{}
.header .header_box  .inner .header_searchBox{
    width: 400px;
    height: 48px;
    background: #fff;
    border-radius: 24px;
    overflow: hidden;
    position: relative;
    padding: 0 20px;
}
.header .header_box  .inner .header_searchBox .searchBox-Wrap{
    width: 360px;
    height: 100%;
    padding: 0 40px 0 0;
}
.hidden_label {
    overflow: hidden;
    display: inline-block;
    position: absolute;
    top: 0;
    left: -999999px;
    width: 0;
    height: 0;
    font-size: 0;
    text-indent: -999999px;
}
.header .header_box .inner .header_searchBox .searchBox-Wrap input[type="text"]{
    width: 320px;
    height: 100%;
    border: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 48px;
    color: #212121;
    padding: 0 10px;
}
.header .header_box .inner .header_searchBox .btn_search{
    display: inline-block;
    position: absolute;
    top: 50%;
    right: 20px;
    background-color: transparent;
    font-size: 0;
    transform: translateY(-50%);
}
.header .header_box .inner .header_searchBox .btn_search .text{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-image: url(../img/icon_search.png);
    background-position: center center;
    background-size: 25px auto;
    background-repeat: no-repeat;
    font-size: 0;
}
.header .header_box .font_control{
    display: inline-flex;
    align-items: center;
    /* width: 180.49px;
    height: 48px; */
}
.header .header_box .font_control .title{
    display: inline-block;
    margin: 0 12px 0 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #5f6368;
    vertical-align: middle;
    /* width: 68.49px;
    height: 20px; */
}
.header .header_box .font_control .item_list{
    display: inline-block;
    font-size: 0;
    vertical-align: middle;
}
.header .header_box .font_control .item_list .item{
    display: inline-block;
    margin: 0 0 0 2px;
}
.header .header_box .font_control .item_list .item:first-child{
    margin: 0;
}
.header .header_box .font_control .item_list .item .btn {
    overflow: hidden;
    display: inline-block;
    border: 1px solid #dadce1;
    border-radius: 50%;
}
.header .header_box .font_control .item_list .item .btn.font_up .text{
    background-image: url(../img/icon_font_up.png);
    background-size: 15px auto;
}
.header .header_box .font_control .item_list .item .btn.font_down .text{
    background-image: url(../img/icon_font_down.png);
    background-size: 15px auto;
}
.header .header_box .font_control .item_list .item .btn.font_init .text{
    background-image: url(../img/icon_refresh.png);
    background-size: 15px auto;
}
.header .header_box .font_control .item_list .item .btn .text{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #fff;
    background-position: center center;
    /* background-size: 12px auto; */
    background-repeat: no-repeat;
    font-size: 0;
    text-indent: -99999px;
    overflow: hidden;
}

/* gnb_header */
/* site_map */
.header .gnb_header {
    position: relative;
    transition: 0.3s ease;
    z-index: 3;
}
.header .gnb_header .container {
    position: static;
    font-size: 0;
}

.header .gnb_header .container .sitemap_wrapper {
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 1280px;
    height: 0;
}
.header .gnb_header .container .site_map {
    display: inline-block;
    position: absolute;
    top: 16px;
    left: 0;
    z-index: 1;
}
.header .gnb_header .container .site_map .btn_site_map {
    display: inline-block;
    padding: 15px;
    background-color: #e1e5f4;
    border-radius: 50%;
}
.header .gnb_header .container .site_map .btn_site_map .icon {
/*     display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 18px;
    height: 18px;
}
.header .gnb_header .container .site_map .btn_site_map .icon::before {
    content: '';
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: #212121;
    transition: 0.24s ease;
    transform-origin: left top;
}
.header .gnb_header .container .sitemap_wrapper .site_map .btn_site_map .icon .text {
    font-size: 0;
}
.header .gnb_header .container .site_map .btn_site_map .icon .text {
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: #212121;
    font-size: 0;
    transition: 0.24s ease;
    transform-origin: left top;
}
.header .gnb_header .container .site_map .btn_site_map .icon::after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: #212121;
    transition: 0.24s ease;
    transform-origin: left top;
}
/* gnb */
.header .gnb_header .container .gnb{
    display: flex;
    padding: 0 0 0 80px;
}
.header .gnb_header .container .gnb > li{
    flex: 1;
    text-align: left;
}
.header .gnb_header .container .gnb > li > a {
    display: block;
    transition: all 0.3s;
}
.header .gnb_header .container .gnb > li > a .text {
    display: inline-block;
    position: relative;
    padding: 0 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: 80px;
    color: #212121;
}
/* SUB MENU (dep2_container) */
.header .gnb_header > .container .gnb > li .dep2_container {
    display: none;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 5px 10px rgb(211, 211, 211, 0.5);
}
/* .header .gnb_header > .container .gnb > li:nth-child(1) .dep2_container{
    display: block;
} */
.header .gnb_header > .container .gnb > li .dep2_container .container {
    position: relative;
    padding: 0 0 0 182px;
}
.header .gnb_header > .container .gnb > li .dep2_container .container .title {
    position: absolute;
    right: calc(100% - 182px);
    width: 100%;
    height: 100%;
    background-color: #f6f7ff;
    vertical-align: top;
    text-align: right;
}
.header .gnb_header > .container .gnb > li .dep2_container .container .title .cont_wrapper {
    display: inline-block;
    width: 182px;
    text-align: left;
}
.header .gnb_header > .container .gnb > li .dep2_container .container .title .cont_wrapper .title_wrapper {
    width: 100%;
    padding: 30px 0 0;
}
.header .gnb_header > .container .gnb > li .dep2_container .container .title .cont_wrapper .title_wrapper .text {
    font-weight: 500;
    font-size: 26px;
    line-height: 40px;
    color: #0d0d0d;
}
.header .gnb_header > .container .gnb > li .dep2_container .container .title .cont_wrapper .icon_container {
    padding: 20px 0 0;
    font-size: 0;
}
.header .gnb_header > .container .gnb > li .dep2_container .container .title.menu01 .cont_wrapper .icon_container .icon {
    background-image: url(../img/icon_gnb_01.png);
}
.header .gnb_header > .container .gnb > li .dep2_container .container .title.menu02 .cont_wrapper .icon_container .icon {
    background-image: url(../img/icon_gnb_02.png);
}
.header .gnb_header > .container .gnb > li .dep2_container .container .title.menu03 .cont_wrapper .icon_container .icon {
    background-image: url(../img/icon_gnb_03.png);
}
.header .gnb_header > .container .gnb > li .dep2_container .container .title.menu04 .cont_wrapper .icon_container .icon {
    background-image: url(../img/icon_gnb_04.png);
}
.header .gnb_header > .container .gnb > li .dep2_container .container .title.menu05 .cont_wrapper .icon_container .icon {
    background-image: url(../img/icon_gnb_05.png);
}
.header .gnb_header > .container .gnb > li .dep2_container .container .title.menu06 .cont_wrapper .icon_container .icon {
    background-image: url(../img/icon_gnb_06.png);
}
.header .gnb_header > .container .gnb > li .dep2_container .container .title .cont_wrapper .icon_container .icon {
    display: inline-block;
    width: 74px;
    height: 70px;
    background-position: center center;
    background-size: 74px auto;
    background-repeat: no-repeat;
}
/* sub gnb */
.header .gnb_header > .container .gnb > li .dep2_container .container .sub_gnb {
    /* display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex; */
    display: flex;
    flex-wrap: wrap;
    position: relative;
    min-height: 230px;
    padding: 35px;
    margin: 0 -17px;
    text-align: center;
    font-size: 0;
    vertical-align: top;
}
.header .gnb_header > .container .gnb > li .dep2_container .container .sub_gnb > li {
    width: 33.3333%;
    margin: 0 0 10px 0;
    padding: 0 17px;
    text-align: left;
}
.header .gnb_header > .container .gnb > li .dep2_container .container .sub_gnb > li > a {
    display: block;
    border: 1px solid #e0e0e0;
    padding: 0 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 42px;
    color: #010101;
}
.header .gnb_header > .container .gnb > li .dep2_container .container .sub_gnb > li > a:hover, .header .gnb_header > .container .gnb > li .dep2_container .sub_gnb > li > a:focus {
    background-color: #242d5e;
    font-weight: 500;
    color: #fff;
}
.header .gnb_header > .container .gnb > li .dep2_container .container .sub_gnb > li > .depth3 {
    padding: 7px 20px 15px 20px;
}
.header .gnb_header > .container .gnb > li .dep2_container .container .sub_gnb > li > .depth3 > li {
    position: relative;
    margin: 2px 0 0;
    padding: 0 0 0 10px;
}
.header .gnb_header > .container .gnb > li .dep2_container .container .sub_gnb > li > .depth3 > li:first-child {
    margin: 0;
}
.header .gnb_header > .container .gnb > li .dep2_container .container .sub_gnb > li > .depth3 > li:before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 12px;
    left: 0;
    width: 2px;
    height: 2px;
    background-color: #707070;
    border-radius: 50%;
}
.header .gnb_header > .container .gnb > li .dep2_container .container .sub_gnb > li > .depth3 > li > a {
    display: block;
    font-weight: 350;
    font-size: 15px;
    line-height: 24px;
    color: #888;
    text-align: left;
}
.header .gnb_header > .container .gnb > li .dep2_container .container .sub_gnb > li > .depth3 > li > a:hover, .header .gnb_header > .container .gnb > li .dep2_container .sub_gnb > li > .depth3 > li > a:focus {
    color: #5564bd;
}